@import "../App.scss";

.aboutWraper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutConatiner {
    background-color: #ffffffaa;
    padding: 50px;
    border-radius: 20px;
    width: 500px;
    font-family: $secondaryFont;
    color: black;
    text-align: center; 

    a {
        color: #002C55;
        font-weight: 600;
    }
    
    a:hover {
        color: #0071D9;
    }
}

// Media query breakpoint at 768px - for tablets
@media screen and (max-width: $breakPointTablet) {
    .aboutConatiner {
        width: 400px;
    }
}
// Media query breakpoint at 480px - for phones
@media screen and (max-width: $breakePointMobile) {
    .aboutConatiner {
        width: 300px;
        padding: 20px;
    }
}