@import "../App.scss";

.termsContainer {
    background-color: #ffffffaa;
    padding: 50px;
    border-radius: 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $secondaryFont;
    text-align: center;

    ul {
       margin: 0; 
       padding: 0;
    }
}


// Media query breakpoint at 1200px - for big computer screens and TV:s  
@media screen and (max-width: $breakPointLargeScreen) {
    
}
// Media query breakpoint at 1024px - for standard computer screen
@media screen and (max-width: $breakePointDesktop) {
    
}
// Media query breakpoint at 768px - for tablets
@media screen and (max-width: $breakPointTablet) {
    
}
// Media query breakpoint at 480px - for phones
@media screen and (max-width: $breakePointMobile) {

    .termsContainer {
        width: 300px;
    }
}