@import "../App.scss";

.standForContainer {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffffffaa;
    padding: 50px;
    border-radius: 20px;
    font-family: $secondaryFont;
    font-size: 18px;    
}

// Media query breakpoint at 480px - for phones
@media screen and (max-width: $breakePointMobile) {

    .standForContainer {
        width: 250px;
    }
}