@import "../App.scss";


.homeContainer {
    font-family: $secondaryFont;
    width: 100vw;
    font-weight: 500;
    font-size: 20px;
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 50px;
}

.quoteConatiner {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkContainer {
    text-decoration: none;
}

.homeGuideLink {
    text-decoration: none;
    color: #0071D9;

}

.homeGuideLink:hover {
    color: #002C55;
}

.quote {
   display: none 
}

.fade-in {
   transition: opacity 1s ease;
}
  
.fade-out {
    opacity: 0;
    transition: opacity 2s ease; 
}

// Media query breakpoint at 1200px - for big computer screens and TV:s 
@media screen and (max-width: $breakPointLargeScreen) {
    
}
// Media query breakpoint at 1024px - for standard computer screen
@media screen and (max-width: $breakePointDesktop) {

}
// Media query breakpoint at 768px - for tablets
@media screen and (max-width: $breakPointTablet) {

}
// Media query breakpoint at 480px - for phones
@media screen and (max-width: $breakePointMobile) {

}