@import "../App.scss";

.contactContiner {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contactMail {
    font-family: $secondaryFont; 
}