@import "../App.scss";

.contactContiner {
    width: 300px;
    background-color: #ffffffaa;
    padding: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: $secondaryFont; 
}
