@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Ubuntu&display=swap');


// Style variables

// Fonts
$primaryFont: 'Ubuntu', sans-serif;
$secondaryFont: 'Manrope', sans-serif;

// Media query sizes
$breakPointLargeScreen: 1200px;
$breakePointDesktop: 1024px;
$breakPointTablet: 768px;
$breakePointMobile: 480px;


.appWraper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    
}

nav {
    width: 100vw;
    height: 10%;
}

main {
    background-image: url("../assets/micheile-dot-com-lZ_4nPFKcV8-unsplash2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    background-color: #ffffffbb;
    
    width: 100vw;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

footer {
    width: 100vw;
    background: #0058AB;

}


// Media query breakpoint at 1200px - for big computer screens and TV:s  
@media screen and (max-width: $breakPointLargeScreen) {
    
}
// Media query breakpoint at 1024px - for standard computer screen
@media screen and (max-width: $breakePointDesktop) {
    
}
// Media query breakpoint at 768px - for tablets
@media screen and (max-width: $breakPointTablet) {
    
}
// Media query breakpoint at 480px - for phones
@media screen and (max-width: $breakePointMobile) {
    
    main {
        height: 90vh;

    }
}