@import "../App.scss";

.dashboardPositionWraper {
    width: 100vw;
    height: 100%;
    display: flex;
    font-family: $secondaryFont;
}

.dashboardWraper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bigTextConatiner {
    display: flex;
    justify-content: space-between;
}

.emptybox {
    margin-right: 20px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.changeSettingsButton {
    border: none;
    width: 160px;
    height: 44px;
    margin-right: 10px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    text-align: center;
    border-radius: 4px;
    background: #0F5699;
    cursor: pointer;
    border: 2px solid #0F5699;
    transition: 0.15s;
} 

.changeSettingsButton:hover {
    color: #0F5699;
    letter-spacing: 2px;
    background-color: #fff;
    border: 2px solid #0F5699;
}

.dashboardConatiner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.usedBucketLink {
    text-decoration: none;
}

.usedBucket {
    width: 150px;
    height: 150px;
    margin: 20px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0071D9;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.usedBucket:hover {
    background: #0083FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.dashboardBucket1Tooltip {
    display: flex;
    justify-content: center;
}

.dashboardToolTipQuestionmark {   
    color: #0058AB55;
    margin: 0 6px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.dashboardToolTipQuestionmark:hover {
    color: #0058AB;
}

.addNewBucketBox {
    width: 150px;
    height: 150px;
    margin: 20px;
    display: flex;
    justify-content: center;
    background: #0071D980;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: 0.15s;
}

.addNewBucketBox:hover {
    background: #0083FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.whitePlusSVG {
    fill: white;
    width: 75px;
}

.bottomConatiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
}

.questionMark {
    color: #0058AB;
    width: 50px;
    height: 50px;
}

.questionMark:hover {
    color: #0058AB55;
}

.amountConatiner {
    display: flex;
    flex-direction: column;
    align-items: end;
}    

.totalSavedInBucketsText {
    margin-top: 0;
}    

// Media query breakpoint at 1024px - for standard computer screen
@media screen and (max-width: $breakePointDesktop) {

    .usedBucket {
        width: 130px;
        height: 130px; 
        font-size: 14px; 
    }

    .changeSettingsButton {
        margin: 0;
    }

    .addNewBucketBox {
        width: 130px;
        height: 130px;
    }

    .whitePlusSVG {
        width: 60px;
    }

}
// Media query breakpoint at 768px - for tablets
@media screen and (max-width: $breakPointTablet) {

    .emptybox {
        width: 150px;
    }

    .changeSettingsButton {
        margin: 10px;
    }

    .bigTextConatiner {
        font-size: 10px;
    }
    
    .changeSettingsButton {
        width: 140px;
        height: 30px;
        font-size: 10px;
        letter-spacing: 1px;
    }

    .usedBucket {
        width: 130px;
        height: 130px; 
        margin: 10px;
        font-size: 12px; 
    }

    .addNewBucketBox {
        width: 130px;
        height: 130px;
        margin: 10px;
    }

    .whitePlusSVG {
        width: 50px;
    }

    .bottomConatiner {
        font-size: 10px;
    }

    .bottomConatiner {
       margin-bottom: 50px;
    }    

}
// Media query breakpoint at 480px - for phones
@media screen and (max-width: $breakePointMobile) {

    .emptybox {
        width: 100px;
    }

    .bigTextConatiner {
        font-size: 8px;
    }

    .changeSettingsButton {
        width: 130px;
        height: 26px;
        font-size: 9px;
        letter-spacing: 1px;
        margin-right: 20px;
    }

    .usedBucket {
        width: 130px;
        height: 130px; 
        margin: 10px;
        font-size: 12px; 
    }

    .addNewBucketBox {
        width: 130px;
        height: 130px;
        margin: 10px;
    }

    .whitePlusSVG {
        width: 45px;
    }

    .bottomConatiner {
        margin-bottom: 100px;
     }    
}