@import "../App.scss";


.footerConatiner {
    display: flex;
    justify-content: space-between;
    font-size: 16px;    
    font-family: $secondaryFont;
}

.link {
    color: #fff;
    padding: 10px;
    text-decoration: none;
} 

.linkConatiner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 10px;
}

.socialMediaLinksContainer {
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    flex-wrap: wrap;
}

// Media query breakpoint at 768px - for tablets
@media screen and (max-width: $breakPointTablet) { 

    .footerConatiner {
        display: none;
    }
}
// Media query breakpoint at 480px - for phones
@media screen and (max-width: $breakePointMobile) {

    .footerConatiner {
        display: none;
    }
}