@import "../App.scss";


.guideWrapper {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $secondaryFont;

    ol {
        height: auto;
        background-color: #ffffffaa;
        padding: 50px;
        border-radius: 20px;
        text-align: left;
    }

    a {
        color: #002C55;
        font-weight: 600;
    }
    
    a:hover {
        color: #0071D9;
    }
}

.guideContainer {
    background-color: #ffffffaa;
    padding: 50px;
    border-radius: 20px;
    width: 800px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.bucketImage {
    width: 800px;
    margin: 10px 0 50px 0;
}

.section {
    background-color: #d3eaff;
    border-radius: 20px;
    padding: 20px;
    margin: 20px 0 20px 0;
    text-align: left;
}

.guideRegisterButton {
    border: none;
    width: 180px;
    height: 50px;
    margin: 10px 0 100px 0;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    border-radius: 4px;
    background-color: #0F5699;
    border: 2px solid #0F5699;
    cursor: pointer;
    transition: 0.1s; 
}

.guideRegisterButton:hover{
    color: #0F5699;
    letter-spacing: 2px;
    background-color: #fff;
    border: 2px solid #0F5699;
}

.bottomContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// Media query breakpoint at 1024px - for standard computer screen
@media screen and (max-width: $breakePointDesktop) {

    .bucketImage {
        width: 700px;
    }
}
// Media query breakpoint at 768px - for tablets
@media screen and (max-width: $breakPointTablet) {

    .guideContainer {
        width: 400px;
    }

    .bucketImage {
        width: 400px;
    }

}
// Media query breakpoint at 480px - for phones
@media screen and (max-width: $breakePointMobile) {

    .guideContainer {
        width: 300px;
    }

    .bucketImage {
        width: 300px;
    }
}