@import "../App.scss";

.nav {
    background-color: #002C55;
    font-family: $primaryFont;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logoContainer {
    padding-left: 40px;
    width: 50vw;
}

.linksWraper {
    padding-right: 30px; 
    width: 50vw;
    display: flex;
    justify-content:flex-end;
    flex-wrap: wrap;

    a {
        padding: 10px;
    }
}

.linkButtonConatiner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


}

.logoLink {
    text-decoration: none;
    color: #fff;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 3px;
    text-decoration: none; 
}

.navLink {
    margin: 0;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.navButton {
    font-family: $primaryFont;
    border: none;
    width: 160px;
    height: 40px;
    // margin: 10px;
    color: #0F5699;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2px;
    border-radius: 4px;
    background-color: #fff;
    filter: drop-shadow(0px 2px 4px #000000);
    cursor: pointer;
    transition: 0.1s;
}

.navButton:hover {
    color: #fff;
    letter-spacing: 2px;
    background: #0F5699;
}

.hamburgerMenuContainer {
    display: none;
}




// Hamburger menu  ///////////////////////////////////////

.hamburgerMenuButton {
    margin-right: 10px;
    background-color: #002C55;
    border: none;
    cursor: pointer;
  }
  
.menuNav {
    display: none;
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    background: #002C55;
    left: 0;
    overflow: hidden;
    z-index: 1;
}

.menuNav.showMenu {
      
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 95vh;
}

.topHamburgerMenuContainer {
    // border: solid green 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.topHamburgerMenuLinks {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}


.hamburgerMenuLinks {
    color: #fff;
    text-decoration: none;
    font-size: 18px; 
}


.bottomHamburgerMenuContainer {
    // border: solid red 2px;
    display: flex;
    flex-direction: column;
    align-items: center
}



// Media queries //////////////////////////////////////////////////////////////////////////////////

// Media query breakpoint at 1200px - for big computer screens and TV:s 
@media screen and (max-width: $breakPointLargeScreen) {
    .logoLink {
        font-size: 40px;
    }

    .navButton {
        width: 100px;
        height: 40px;
        margin: 10px;
        font-size: 13px;
        letter-spacing: 1.5px;
    }
}

// Media query breakpoint at 1024px - for standard computer screen
@media screen and (max-width: $breakePointDesktop) {

    .logoContainer {
        padding-left: 16px;
        width: 0;
    }

    .linksWraper {
        padding-right: 10px; 
        width: 60vw;

    }

    .navButton {
        width: 90px;
        height: 36px;
        margin: 10px;
        font-size: 12px;
        letter-spacing: 1.5px;
    }
}

// Media query breakpoint at 768px - for tablets
@media screen and (max-width: $breakPointTablet) {

    .logoLink {
        font-size: 30px;
    }

    .linksWraper {
        // padding-right: 0; 
        // margin-right: 4px;
        // align-items: center;
        // justify-content: center;

        a {
            margin: 0;
            padding: 0;
        }
    }

    .navLink {
        margin: 8px;
        color: #fff;
        font-size: 14px;
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    .navButton {
        width: 80px;
        height: 30px;
        margin: 6px;
        font-size: 11px;
        letter-spacing: 1.5px;
    }
}

// Media query breakpoint at 480px - for phones
@media screen and (max-width: $breakePointMobile) {

    .linkButtonConatiner {
        display: none;
    }

    .navLink {
        display: none;
    }

    .hamburgerMenuContainer {
        display: block;
    }

    .logoContainer {
        padding-left: 10px;
        width: 0;
    }

    .logoLink {
        font-size: 26px;
    }

    .navButton {
        width: 160px;
        height: 55px;
        margin: 20px;
        font-size: 20px;
        letter-spacing: 1.5px;
    }

}