@import "../App.scss";


.bucketWraper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: $secondaryFont;
    color: black;
}

.topConainer {
    width: 100vw;
    display: flex;
    justify-content: space-between; 
}

// spacing and positioning for top conatiners
.emptyBox {
    width: 220px;
    height: 200px;
}

.middleEmptyBox {
    height: 200px;
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

.selectedBucketQuestionmarkButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.selectedBucketQuestionmark {
    color: #0058AB55;
    width: 40px;
    height: 40px;
}

.selectedBucketQuestionmark:hover {
    color: #0058AB;
}

.helpConatiner {
    position: relative;
    top: 10px;
    width: 300px;
    background-color: #d3eaff;
    border-radius: 10px;
    padding: 10px;
}

// main positioning for bucket info
.bucketContainer {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content:space-around
}

.resetBucketRenderConatiner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.resetBucketconatiner {
    width: 400px;
    background-color: rgba(255, 187, 0, 0.20);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

.disableResetBucketRenderButton {
    padding-top: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

// X icon
.MdClose {
    color: #000;
    width: 20px;
    height: 20px;
}

.resetBucketConatinerTextConatiner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.resetBucketConatinerTextSpacer {
    width: 25px;
}

.resetBucketConatinerQuestionmark {
    width: 25px;
}

// all the small questionmarks
.toolTipQuestionmark {
    color: #0058AB55;
    margin: 0 6px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.toolTipQuestionmark:hover {
    color: #0058AB;
}

.resetValuesButton {
    border: none;
    width: 140px;
    height: 40px;
    margin: 10px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    border-radius: 4px;
    background: #0F5699;
    cursor: pointer;
    border: 2px solid #0F5699;
    transition: 0.15s;
}

.resetValuesButton:hover {
    color: #0F5699;
    letter-spacing: 2px;
    background-color: #fff;
    border: 2px solid #0F5699;
}

.bucketForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customBucketName {
    font-size: 18px;
}

.inputContainer {
    width: 300px;

    input {
        box-sizing: border-box;
        font-size: 16px;
        height: 28px;
        width: 220px;
        margin-bottom: 10px;
        border-radius: 4px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
        border: none;
        border: 2px solid #0F5699;
        text-align: center;
    }

    input:focus {
        border: 3px solid #002C55;
        box-shadow: 0px 8px 10px rgba(0, 88, 171, 0.6);
    }

    p {
        margin: 5px;
    }

    textarea {
        font-size: 16px;
        margin-bottom: 20px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
        border: none;
        border: 2px solid #0F5699;
        text-align: left;
    }
}

.inputContainerLeftSpacer {
    width: 25px;
}

.bucketRecommendedSettings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    input {
        width: 16px;
        height: 16px;
        margin: 6px;
    }
}



.recommendedSettingsConatiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0058AB33;
    border-radius: 10px;
    padding: 10px;
}

.recommendedSettingsRangeContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    input {
        margin: 20px;
    }

    button {
        border: none;
        width: 132px;
        height: 36px;
        margin-bottom: 10px;
        color: #fff;
        font-size: 12px;
        letter-spacing: 2px;
        border-radius: 4px;
        background: #0F5699;
        cursor: pointer;
        border: 2px solid #0F5699;
        transition: 0.15s;
    }

    button:hover {
        color: #0F5699;
        letter-spacing: 2px;
        background-color: #fff;
        border: 2px solid #0F5699;
    }
}

.recommendedSettingsRangeTooltip {
    width: 50px;
}

.bucketAmountConatiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;

    p {
        margin: 5px;
        color: black;
    }

    input {
        font-size: 16px;
        height: 28px;
        width: 220px;
        margin-bottom: 10px;
        border-radius: 4px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
        border: none;
        border: 2px solid #0F5699;
        text-align: center;
    }

    button {
        border: none;
        width: 100px;
        height: 34px;
        margin: 20px;
        color: #fff;
        font-size: 14px;
        letter-spacing: 2px;
        text-align: center;
        border-radius: 4px;
        background: #0F5699;
        cursor: pointer;
        border: 2px solid #0F5699;
        transition: 0.15s;
    }

    .recommendedBucketSizeTooltipContainer {
        display: flex;
        align-items: center;    
    }

    .bucketSubmitButtons {
        display: flex;
        flex-direction: row;
    }

    .saveButton:hover {
        background: #51ff4b;
    }

    .deleteButton:hover {
        background: rgb(255, 140, 140);
        cursor: pointer;
    }

    .sureToDeleteButton {
        background-color: rgb(255, 140, 140);
        color: #000;
    }

    .sureToDeleteButton:hover {
        background-color: red;
        color: #fff;
        cursor: pointer;
    }

    button:hover {
        color: #0F5699;
        letter-spacing: 2px;
        background-color: #fff;
        border: 2px solid #0F5699;
    }

    button:disabled {
        color: #0F5699;
        letter-spacing: 2px;
        background: #0f569940;
        border: 2px solid #0F569940;
        cursor:auto;
    }
}

.bucketBottomContainer {
    width: 100vw;
    height: 200px;
    display: flex;
    justify-content: center;
}

// Media query breakpoint at 1200px - for big computer screens and TV:s 
@media screen and (max-width: $breakPointLargeScreen) {

    .emptyBox {
        width: 220px;
        height:80px;
        font-size: 20px;
        margin-top: 0;
    }
}
// Media query breakpoint at 1024px - for standard computer screen
@media screen and (max-width: $breakePointDesktop) {

    .topConainer {
        height: 200px;
    }
    
    .emptyBox {
        height: 200px;
    }

    .middleEmptyBox {
        width: 220px;
        height: 170px;
        margin-top: 0;
    }
}

// Media query breakpoint at 768px - for tablets
@media screen and (max-width: $breakPointTablet) {

    .topConainer {
        height: 130px;
    }
    
    .emptyBox {
        height: 130px;
    }

    .middleEmptyBox {
        width: 220px;
        height: 130px;
        font-size: 16px;
        margin-top: 0;
    }

    .bucketContainer {
        width: 300px;
    }

    .resetBucketconatinerText {
        width: 300px;
    }
}

// Media query breakpoint at 480px - for phones
@media screen and (max-width: $breakePointMobile) {

    .topConainer {
        height: 400px;
    }

    .emptyBox {
        height: 400px;
    }
    
    .emptyBox {
        width: 220px;
        height: 130px;
        font-size: 16px;
        margin-top: 0;
    }

    .middleEmptyBox {
        width: 220px;
        height:120px;
        font-size: 16px;
        margin-top: 0;
    }

    .bucketContainer {
        width: 300px;
    }

    .recommendedSettingsConatiner {
       width: 300px;
    }

    .bucketRecommendedSettings {

        p {
            margin: 0;
        }
    }

    .recommendedSettingsRangeContainer {
        flex-direction: column;

        p {
            margin: 0;
        }
    
        input {
            margin: 0px;
        }
    
        button {
            margin: 20px;
        }
    }
}