@import "../App.scss";


.bucketWraper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.bucketContainer {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content:space-around
}

.topConainer {
    width: 100vw;
    display: flex;
    justify-content: space-between; 
}

.emptyBox {
    width: 220px;
    height: 100px;
    display: flex;
    font-size: 30px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.resetBucketconatiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $secondaryFont;
    text-decoration: none;
    color: black;
    background-color: rgba(255, 187, 0, 0.20);
    border-radius: 10px;
}

.resetBucketconatinerText {
    width: 400px;
}

.resetValuesButton {
    font-family: $primaryFont;
    border: none;
    width: 140px;
    height: 40px;
    margin-bottom: 10px;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 2px;
    text-align: center;
    border-radius: 4px;
    background: #0F5699;
    cursor: pointer;
    border: 2px solid #0F5699;
    transition: 0.15s;
}

.resetValuesButton:hover {
    color: #0F5699;
    letter-spacing: 2px;
    background-color: #fff;
    border: 2px solid #0F5699;
}

.customBucketName {
    font-family: $secondaryFont;
    font-size: 18px;
    color: black;
    text-align: center;
}

.customBucketNameInput {
    box-sizing: border-box;
    font-size: 16px;
    height: 28px;
    width: 220px;
    margin-bottom: 40px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    border: none;
    border: 2px solid #0F5699;
    text-align: center;
}

.customBucketNameInput:focus {
    border: 3px solid #002C55;
    box-shadow: 0px 8px 10px rgba(0, 88, 171, 0.6);
}

.bucketRecommendedSettings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: $secondaryFont;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.recommendedSettingsConatiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $secondaryFont;
    text-decoration: none;
    color: black;
    text-align: center;
}



.recommendedSettingsRangeContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    input {
        margin: 20px;
    }

    button {
        font-family: $primaryFont;
        border: none;
        width: 130px;
        height: 34px;
        margin-bottom: 10px;
        color: #fff;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 1px;
        text-align: center;
        border-radius: 4px;
        background: #0F5699;
        cursor: pointer;
        border: 2px solid #0F5699;
        transition: 0.15s;
    }

    button:hover {
        color: #0F5699;
        letter-spacing: 2px;
        background-color: #fff;
        border: 2px solid #0F5699;
    }
}

.bucketForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bucketAmountConatiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    p {
        font-family: $secondaryFont;
        margin: 5px;
        text-decoration: none;
        color: black;
    }

    input {
        box-sizing: border-box;
        font-size: 16px;
        height: 28px;
        width: 220px;
        margin-bottom: 10px;
        border-radius: 4px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
        border: none;
        border: 2px solid #0F5699;
        text-align: center;
    }

    .bucketSubmitButtons {
        display: flex;
        flex-direction: row;
    }

    button {
        font-family: $primaryFont;
        border: none;
        width: 100px;
        height: 34px;
        margin: 20px;
        color: #fff;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 2px;
        text-align: center;
        border-radius: 4px;
        background: #0F5699;
        cursor: pointer;
        border: 2px solid #0F5699;
        transition: 0.15s;
    }

    button:hover {
        color: #0F5699;
        letter-spacing: 2px;
        background-color: #fff;
        border: 2px solid #0F5699;
    }

    button:disabled {
        color: #0F5699;
        letter-spacing: 2px;
        background: #0f569940;
        border: 2px solid #0F569940;
        cursor:auto;
    }
}

.bucketButtomContainer {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
}



// Media query breakpoint at 1200px - for big computer screens and TV:s 
@media screen and (max-width: $breakPointLargeScreen) {

    .emptyBox {
        width: 220px;
        height:80px;
        font-size: 20px;
        margin-top: 0;
    }
}
// Media query breakpoint at 1024px - for standard computer screen
@media screen and (max-width: $breakePointDesktop) {

}
// Media query breakpoint at 768px - for tablets
@media screen and (max-width: $breakPointTablet) {

    .bucketContainer {
        width: 400px;
    }

    .resetBucketconatinerText {
        width: 300px;
    }
}

// Media query breakpoint at 480px - for phones
@media screen and (max-width: $breakePointMobile) {

    .emptyBox {
        width: 220px;
        height:50px;
        font-size: 16px;
        margin-top: 0;
    }

    .bucketContainer {
        width: 300px;
    }

    .recommendedSettingsConatiner {
       width: 300px;
    }

    .bucketRecommendedSettings {
        p {
            margin: 0;
        }
    }

    .recommendedSettingsRangeContainer {
        flex-direction: column;

        p {
            margin: 0;
        }
    
        input {
            margin: 0px;
        }
    
        button {
            margin: 20px;
        }
    }
}